<h1>Edit Author</h1>
<%= render 'shared/errors', obj: @author %>

<%= form_with(model: @author, local: true) do |f| %>
  <p>
    <%= f.label :Name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Experience %>
    <%= f.text_field :experience %>
  </p>
  <p>
    <%= f.label :Gender%> <br/>
    <%= f.select :gender, %i{male female}, :prompt => 'Select', required: true, inclue_blank: 'Gender' %>
  </p>
  <p>
    <%= f.label :Age %>
    <%= f.text_field :age %>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Cancel and Return to Authors page', authors_path %>
