<%= render 'shared/errors', obj: @library %>

<h1>Editing library:</h1>
<%= form_with(model: @library, local: true) do |form| %>
   <p>
    <%=form.label "Name:"%>
    <%=form.text_field :name%></br>
   </p>
     <div data-controller="form-element">
       <%= form.button "Validate", formaction: edit_library_path(@library), formmethod: :get, data: { turbo_frame: :location_field, form_element_target: "submitbtn"} %>
         <%= form.label("Select_Regions:")%>
         <%= form.collection_check_boxes :region_ids, Region.all,:id,:name, {include_blank: "-none-", include_hidden: false}, { data: { action: "change->form-element#remotesubmit"}, multiple: true} %>
     </div>
    
 <%= turbo_frame_tag :location_field do %>
   <% unless params[:library].nil? || @region.nil? %>
     <% @region.each do |region|%>
       <%= form.label "Locations in region:"%>
       <%= form.collection_check_boxes :location_ids, region.locations.order(:name),:id,:name, {include_blank: "-none-", include_hidden: false}, { multiple: true } %></br>
     <% end %>
   <%end%>
  <% end %>
 <%=form.submit%>
<%end%>

<%= link_to 'Cancel and Return to libraries page', libraries_path %>
