<h1>Edit Library</h1>
<%= render 'shared/errors', obj: @library %>

<%= form_with(model: @library, local: true) do |f| %>
  <p>
    <%= f.label :Library %><br/>
    <%= f.text_field :name %>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Return to home page', companies_path %>
