<%=render 'shared/errors', obj: @library%>

<h1>Edit the library</h1>
<%=form_with(model: @library, local: true) do |f|%>
  <%=f.label :library%>
  <%=f.text_field :name%>
  <%=f.submit%>
<%end%>

<%= link_to 'Cancel and Return to libraries page', libraries_path %>
