<h1> Available libraries.</h1>

<table>
  <thead>
    <tr>
      <th>Library</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.name %></td>
        <td><%= link_to 'Show', library %></td>
        <td><%= link_to 'Edit', edit_library_path(library) %></td>
        <td><%= link_to 'Delete', library_path(library), data: {turbo_method: :delete, turbo_confirm: 'Are you sure want to delete?'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= link_to 'Authors listing page' , authors_path %>
<%= link_to 'Books listing page' , books_path%>
<%= link_to 'Home page', companies_path %>
</p>
