<h1>Edit Book</h1>
<%= render 'shared/errors', obj: @book %>

<%= form_with(model: @book, local: true) do |f| %>
  <p>
    <%= f.label :Title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :Description %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :Pages %>
    <%= f.text_field :pages %>
  </p>
  <p>
    <%= f.label :LauchDate %><
    <%=f.date_field :launchdate%>
    </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Cancel and Return to Authors page', authors_path %>
