<h1>New Company</h1>
<%= render 'shared/errors', obj: @company %>

<%= form_with(model: @company, local: true) do |f| %>
  <p>
    <%= f.label :Name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Website %><br/>
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :Location%><br/>
    <%= f.text_field :state %>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%=link_to 'cancle and return to home page', companies_path  %>
