<h1>Edit Regions</h1>
<%= render 'shared/errors', obj: @region %>

<%= form_with(model: @region, local: true) do |f| %>
  <p>
    <%= f.label :Region %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%=f.label :SelectCompany%>
    <%=f.collection_select :company_id, Company.order(:id),:id,:name%>
  </p>
    <%= f.submit %>
  </p>
<% end %>

<%=link_to 'cancle and return to home page', regions_path  %>