<%= render 'shared/errors', obj: @region %>

<h1>Adding region:</h1>
<%=form_with(model: @region, local: true) do |f|%>
  <p>
    <%=f.label :region%>
    <%=f.text_field :name%>
  </p>
  <p>
    <%=f.label :SelectCompany%>
    <%=f.collection_select :company_id, Company.order(:id),:id,:name ,  {include_blank: "-none-", include_hidden: false}%>
  </p>
    <%=f.submit%>
<%end%>
<p>
  <%= link_to "Cancle and back to regions home page" , regions_path %>
</p>
